services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: recipes_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d recipes_app"]
      interval: 2s
      timeout: 2s
      retries: 20

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_NAME: recipes_app
      DB_USER: postgres
      DB_PASSWORD: 12345
      SPOONACULAR_API_KEY: "a880ccc7301246b5abe560f304b5407b"
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
